@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Reggae+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
  margin: 0;

}

.about-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

}

.about-section {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap; 
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-img {
  width: 100%;

  margin-top: 90px;
  border-radius: 10px;
}

.about-text {
  flex: 1;
  padding: 0 2rem;
  min-width: 300px; /* Ensure a minimum width for text */
}

.about-title {
  font-size: 2rem;
  font-family: "Rock Salt", cursive;
  color: green;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  text-align: justify;
  font-family: "Reggae One", system-ui;
  background-color: #ffffff73;
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.btn-success{
  font-family: "Sirin Stencil", sans-serif;
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.founders-section {
  text-align: center;
  margin-bottom: 3rem;
}

.founders-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Reggae One", system-ui;
  color: green;
}

.founders-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
}

.founder-image {
  flex: 1;
  max-width: 200px;
}

.founder-img {
  width: 100%;
  border-radius: 10px;
}

.stats-section {
  background-color: #f5f7fa;
  padding: 2rem;
}

.stats-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats-text {
  flex: 1;
}

.stats-title {
  font-size: 2rem;
}

.stats-highlight {
  color: #007bff;
}

.stats-details {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.stats-item {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 150px; 
}

.stats-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.stats-info {
  text-align: left;
}

.stats-number {
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    padding: 0;
  }

  .founders-images {
    flex-direction: column;
  }

  .stats-content {
    flex-direction: column;
  }

  .stats-item {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .about-title, .founders-title, .stats-title {
    font-size: 1.5rem;
  }

  .stats-number {
    font-size: 1.2rem;
  }
}
