/* Footer.css */
.footer {
  background-color: #33333346;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in;
}

.footer .container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .logo {
  flex: 1;
}

.footer .logo img {
  max-height: 50px;
  transition: transform 0.3s ease;
}

.footer .logo img:hover {
  transform: scale(1.1);
}

.footer .nav {
  flex: 2;
  display: flex;
  justify-content: center;
}

.footer .link {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.footer .link::after {
  content: '';
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  transition: width 0.3s ease;
}

.footer .link:hover {
  color: #f1f1f1;
}

.footer .link:hover::after {
  width: 100%;
}

.footer .socialMedia {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer .socialLink {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.footer .socialLink::after {
  content: '';
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  transition: width 0.3s ease;
}

.footer .socialLink:hover {
  color: #f1f1f1;
}

.footer .socialLink:hover::after {
  width: 100%;
}

.footer .address {
  flex: 1;
  text-align: center;
}

.footer .address p {
  margin: 5px 0;
  animation: slideIn 1s ease-out;
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 992px) {
  .footer .logo img {
    max-height: 40px;
  }

  .footer .nav {
    flex-direction: column;
  }

  .footer .link {
    margin: 5px 0;
  }

  .footer .socialMedia {
    flex-direction: column;
    margin: 20px 0;
  }

  .footer .socialLink {
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer .nav {
    margin-bottom: 10px;
  }

  .footer .address {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .footer .logo img {
    max-height: 30px;
  }

  .footer .link, .footer .socialLink {
    font-size: 14px;
  }
}
