.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9fafb; /* Optional: Background color while loading */
  }
  
  .loader p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333; /* Adjust text color as needed */
  }
  