
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Reggae+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

.membership-container {
  padding: 2rem;
  text-align: center;
  
  
}



.membership-text{
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Permanent Marker", cursive;
}

.membership-cards {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
}

.membership-card {
   /*border:1px solid blue;*/
   padding: 2rem;
   border-radius: 10px;
   /*min-height:450px;*/
   min-height: 560px;
   width: 325px;
   margin: 1rem 1rem;
   color: #000;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-center;
   text-align: justify;
}

.membership-card:hover {
  transform: scale(1.05);
}

.membership-card-link {
  text-decoration: none;
  color: inherit;
}

.membership-card-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  text-align: justify;
  text-justify: inter-word;
}

.membership-card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: "Permanent Marker", cursive;
  color: orange;
}

.membership-card-description {
  font-size: 1rem;
  color: #666;

  font-family: "Sirin Stencil", sans-serif;
  margin: 0.5rem 0;
}

.membership-card-price {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  color:green;
  margin: 0.5rem 0;
}

.membership-card-durations {
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

.membership-card-durations li {
  font-size: 1rem;

  justify-content: center;
    align-items: center;
    text-align: center;
  font-family: "Sirin Stencil", sans-serif;
  color: #333;
}

.membership-card-quote {
  font-style: italic;
  color: rgb(255, 115, 0);
  margin: 1rem 0;

  font-family: "Rock Salt", cursive;
}


@media (max-width: 768px) {
  .membership-card {
    width: 100%; 
    margin: 1rem 0; 
  }

  .membership-title {
    font-size: 1.5rem;
  }

  .membership-card-title {
    font-size: 1.2rem;
  }

  .membership-card-description {
    font-size: 0.9rem;
  }

  .membership-card-price {
    font-size: 1rem;
  }

  .membership-card-durations li {
    font-size: 0.9rem;
  }
}
