@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    font-family: "Titillium Web", sans-serif;
}




.modal-body {
  font-family: "Titillium Web", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-button {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  font-family: "Titillium Web", sans-serif;
}

.form-fields {
  margin: 20px 0;
}

.verify-button {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

