/* ServiceDetail.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.service-detail-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
  background-position: center;
}

.service-detail-title {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;
}

.animation-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 5px;
}

.input,
.select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.otp-button,
.submit-button {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1364014a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.otp-button:hover,
.submit-button:hover {
  background-color: #2188375d;
}

.service-detail-animation {
  margin-bottom: 20px;
}

.service-detail-description {
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .animation-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
